:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  --bg: #1e1e1e;
  --card: #2d2f33;
  --card-light: #e3e7ef;
  --text: #f0f4f8;
  --text-muted: #cbd5e1;
  --accent: #0284c7;
  --accent-light: #38bdf8;

  background: var(--bg);
  color: var(--text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  max-width: 500px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #202223;
    background-color: --color-gray-800;
  }
  a:hover {
    color: #747bff;
  }
}
